@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

#inactive {
  visibility: hidden;
}

#active {
  position: relative;
  height: 100%;
}
.name {
  top: 0;
  text-align: center;
}

.canbuy {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
  outline: black 2px solid;
  min-width: 100px;
  max-width: 100%;
}

.cannotbuy {
  background-color: rgb(150, 150, 150);
  outline: black 2px solid;
}
