@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

#inactive {
  visibility: hidden;
}

#active {
  background-color: rgb(141, 141, 141);
  color: rgb(211, 211, 211);
  position: relative;
}

.name {
  font-size: 1rem;
  position: absolute;
  top: 0;
  font-family: "Kalam", cursive;
}

.price {
}

.shopitemwrapper {
  background-color: rgb(231, 231, 231);
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.shopitemwrapper:hover {
  background-color: rgb(197, 197, 197);
}
