@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.shopwrapper {
  float: right;
  transition: all 1s;
  position: relative;
  overflow: hidden;
}

.shopbutton {
  outline: 5px solid rgb(216, 216, 216);
  background-color: rgb(116, 116, 116);
  width: 50px;
  height: 100%;
  position: absolute;
  border-radius: 50px;
}

.heading {
  font-family: "Kalam", cursive;
}

.shopitems {
  height: 100%;
  padding-left: 20%;
  padding-top: 5%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth 1s;
}

.shopsection {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 5%;
}

#textactive:after {
  content: ">";
}

#textinactive::after {
  content: "<";
}

#active {
  width: 500px;
  background-color: rgb(168, 168, 168);
  border-bottom-left-radius: 25%;
  border-top-left-radius: 10%;
  height: 300px;
}

#inactive {
  width: 50px;
  height: 100px;
  background-color: rgb(161, 161, 161);
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
}
